

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
    /* css reset */
    body{
      /* test */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    padding: 0px;
    color: rgb(249, 249, 245);
    background: url('img/girl.webp');
    background-attachment: fixed;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top !important; 
    }
 .left div{
   text-align: center;
 }
    .left{
        position: absolute;
        left: 50px;
        top: 20px;
        display: inline-block;
        /* border: 2px solid lavender; */
        font-size: 15px;
        line-height: 12px;    }

    .mid{
        display: block;
       
        width: 50%;
       margin: 30px auto;
        /* border: 2px solid lavender; */

    }

    .right{
        position: absolute;
        right: 34px;
        top: 33px;
        display: inline-block;
        /* border: 2px solid lavender; */

    }

    .navbar{
        display: inline;

    }

    .navbar li{

        display: inline-block;
    }

    .navbar li a{
        display: inline-block;
        font-size: 20px;
        padding: 15px;
        color: aliceblue;
        text-decoration: none;
    }

    .navbar li a:hover, .navbar li a.active{
      text-decoration: underline;
      color: rgb(132, 128, 128);
    }

    .left img{
        filter: invert();
        width: 70px;

    }
    .btn{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0px 10px;
        color: aliceblue;
        background-color: rgb(3, 3, 3);
        font-size: 15px;
        padding: 4px 14px;
        border: 2px solid gray;
        border-radius:10px;
        cursor: pointer;

    }

   
    .btn:hover{
        background-color: rgb(50, 47, 47);
    }

    .btn2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0px 10px;
        color: aliceblue;
        background-color: black;
        font-size: 15px;
        padding: 4px 14px;
        border: 2px solid gray;
        border-radius:10px;
        cursor: pointer;
    }
    .btn2:hover{
        background-color: rgb(92, 86, 86);
    }
.container{
    border: 2px solid white;
    margin: 147px 41px;
    padding: 40px;
    width: 30%;
    border-radius: 28px;
}
.form-group input{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: block;
font-size: 15px;
text-align: center;
width: 300px;
padding: 5px;
border-radius: 5px;
border: 2px solid black;
margin:8px auto ;

}

.container button{
display: block;
width: 70%;
margin: 20px auto;

}


.container h1{
    font-size: 20px;
    text-align: center;
}
